.container{
display: flex;
    flex-direction: column;
}
.m{
display: flex;
}
.mein_up{
    width: 100%;
    height: 50px;
    background-color: #31fc13;
}
.mein_left{
width:70%;
   height: 100px;
    background-color: #d7cf52;
}
.mein_right{
    height: 100px;
    width: 30%;
    background-color: darkcyan;
}
